.btn {
  width: 100%;
  height: 50%;
  border: none;
  background-color: var(--red);
  color: var(--white);
  border-radius: 4px;
  font-size: var(--btnFont);
  font-weight: var(--bold);
}

.btnDownload{
  color: var(--white);
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.btn:disabled{
  background-color: var(--btnDesabillitado);
  cursor: not-allowed;
}

.btn:not(:disabled):hover, .btn:not(:disabled):hover .btnDownload{
  cursor: var(--cursorPointer);
  background-color: var(--lightRed);
  color: var(--red);
}